# Compiled source #
*.exe

# Documents #
*.pdf

# Archives #
*.zip
*.tar

# Folders #
**/data/test
**/testing
**/pointy/tests

# Special Cases #
**/pointy/*.txt
**/lp/*.txt
**/generator/*.txt

**/pointy/*.bmp
**/lp/*.bmp
**/generator/*.bmp
